
<form action=""  method="post">
    <select name="approval ">
        
        <option value="volvo">Research Completed</option>
        <option value="saab">Rejected Idea</option>
    </select>
    <button>ok</button>
</form>