@model Approvals
<form action="/idea/@ViewBag.Idea.IdeaId/approvalprocess"  method="post">
    <select asp-for="AR">

        <option value="Completed">Research Completed</option>
        <option value="Rejected">Rejected Idea</option>
    </select>
    <button>Submit</button>
</form>