
<form action=""  method="post">
    <select name="approval ">
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="fiat">Fiat</option>
        <option value="audi">Audi</option>
    </select>
    <button>ok</button>
</form>