
<link rel="stylesheet" type="text/css" media="screen" href="~/css/shared/header.css"/>	


    <img class="img" src="~/images/InklingLogo.jpg">

    <div class="Hquote">
        <h4>Ideas enpowered</h4>
    </div>