@model LoginUser

    <title>Login or Register</title>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/User/LoginUser.css"/>
    <div class="login">
        <form asp-action="login" asp-controller="User" method="post">
            <br>
            <label class="email" asp-for="Email"></label>
            <label class="password" asp-for="Password"></label>
            <br>

            <h4>Login here!</h4>
            <input  class ="inputbox" type="text" asp-for="Email">
            <input  class ="inputbox" type="password" asp-for="Password">
            <input  type="submit" value="Login">
            <br>
            <span asp-validation-for="Email"></span>
            <span asp-validation-for="Password"></span>
        </form>
    </div>