@model LoginUser

    <link rel="stylesheet" type="text/css" media="screen" href="~/css/User/LoginUser.css"/>
    <div class="login">
        Login here!
        <form asp-action="login" asp-controller="User" method="post">
            <label class="email" asp-for="Email"></label>
            <label class="password" asp-for="Password"></label>

            <input  class ="inputbox" type="text" asp-for="Email">
            <input  class ="inputbox" type="password" asp-for="Password">
            <input  type="submit" value="Login">
            
            <span asp-validation-for="Email"></span>
            <span asp-validation-for="Password"></span>
        </form>
    </div>