<header>

    <div class= "header">
        <partial name="HeadingPartial"/>
    </div>
</header>



<nav>
<a>Home |</a>
<a href="/NewIdea">New Idea |</a>
<a href="/AllIdeas">Ideas in your que |</a>
<a href="/Logout">Logout</a>
</nav>
