@model User
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<title>Login or Register</title>
<link rel="stylesheet" type="text/css" media="screen" href="~/css/User/Index.css"/>
<style>
</style>
</head>
<header>
    <div class= "header">
        <partial name="loginUser"/>
        <partial name="HeadingPartial"/>
        
    </div>
</header>
<body class="body">
    <div >
                
        <div class=registration>
            <h2>Login and Registration</h2><br>
            <h4>Register here!</h4>

            <form  asp-action="register" asp-controller="User" method="post">
                <br><span></span>
                <label asp-for="fname"></label>
                <br>
                <input  class="inputbox" type="text" asp-for="fname">
                <br>
                <span asp-validation-for="fname"></span>
                <br>
                <label asp-for="lname"></label>
                <br>
                <input  class ="inputbox" type="text" asp-for="lname">
                <br>
                <span asp-validation-for="lname"></span>
                <br>
                <label asp-for="email" ></label>
                <br>
                <input  class ="inputbox" type="text" asp-for="email">
                <br>
                <span asp-validation-for="email"></span>
                <br>
                <label asp-for="password" ></label><br>
                <input  class ="inputbox" type="password" asp-for="password">
                <br>
                <span asp-validation-for="password"></span>
                <br>
                <label asp-for="confirm_password"></label>
                <br>
                <input  class ="inputbox" type="password" asp-for="confirm_password">
                <br>
                <label asp-for="departId"></label>
                <br>
                <select class="inputbox" asp-for="departId">
                    <option value="0">Customer Service</option>
                    <option value="1">DevOps</option>
                    <option value="2">Marketing/Sales</option>
                </select>
                <br>
                <label asp-for="Rank"></label>
                <br>
                <select class="inputbox" asp-for="Rank">
                    <option value="5">Employee</option>
                    <option value="4">Supervisor</option>
                    <option value="3">Manager</option>
                    <option value="2">Director</option>
                    <option value="1">VP</option>
                    <option value="0">C</option>
                </select>
                <br>
                <br>
                <input type="submit" value="Register"><br>
            </form>
        </div>
        <div class="desc">
            <p>lots and lots of words about this product place holder</p>
        </div>
    </div>
    </body>
</html>