
<head>
    <title>User Dashboard</title>
    <script type="text/javascript" src="../../wwwroot/js/site.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/User/profile.css"/>

</head>
<header>
    <div class= "header">
        <partial name="HeadingPartial"/>
    </div>
</header>
<body>
    <nav>
        <a>Home |</a>
        <a href="/edit">Edit User Profile |</a>
        <a href="/idea/form">New Idea |</a>
        <a href="/idea/all">All Ideas |</a>
        <a href="/Logout">Logout</a>
    </nav>

    <div class="left">
        <h4>Submitted Ideas</h4>
        <div class="scrollbox">
            @foreach(var idea in Model)
            {
                <a href="ideaprofile/@idea.IdeaId">@idea.name</a>
                <br>
            }
        </div>
    </div>    
    <div class="right">
        <h4>Ideas needing approval</h4>
        <div class="scrollbox">
            
            @foreach(var review in ViewBag.review)
            {
                <a href="ideaprofile/@review.IdeaId">@review.name</a>
                <br>
                
            }
        </div>
    </div>
    <br>
    
<div class="tooltip">
    <h3 ><a href="idea/form">Submit a new idea</a></h3>
  <span class="tooltiptext"><img src="images/allideas.jpeg"></span>
</div>

<div class="GirlNotes">
    <img src="images/GirlNotes.jpg">
</div>

</body>