/*++++++++++++++ Header ++++++++++++++++*/
header{
    display: inline;

}
nav {
    background-color: #080762;
    padding: 0px 0px 7px 20px;


}
nav a{
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration-color: white;
    text-decoration: none;
}
.img{
    margin-top: -57px;
}
/* ++++++++++++End Header +++++++++++++++++++ */

.registration{
    display:inline-block;
    text-align:left;
    height:400px;
    width:400px;
    margin-left:100px;
}

.block{
    display:block;
}
.inputbox{
    width:250px;
}
.body{
    background-color:rgb(255, 251, 251);
    height:110%;
    Width:100%;
}
.logo{
    height:350px;
    width: 350px;
    vertical-align: top;
}
.desc{
    display: inline-block;
    vertical-align: top;
    margin-top:20%;
    margin-left:5%;
}