/*++++++++++++++ Header ++++++++++++++++*/
header{
    display: inline;

}
nav {
    background-color: #080762;
    padding: 0px 0px 7px 20px;


}
nav a{
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration-color: white;
    text-decoration: none;
}
/* ++++++++++++End Header +++++++++++++++++++ */
.left{
    display:inline-block;
}
.right{
    margin-left:30%;
    display:inline-block;
}
.scrollbox{
    height:150px;
    width:300px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;overflow:auto;
    display:inline-block;
}
.new{
    margin-left:32%;
}

.MessyDesk img{
    width:50%;
}