<link rel="stylesheet" type="text/css" media="screen" href="~/css/Idea/allideas.css"/>

<header>
    <div class= "header">
        <partial name="HeadingPartial"/>
    </div>
</header>
 <nav>
        <a href="/dashboard">Home |</a>
        <a href="/Edit">Edit User Profile |</a>
        <a href="/idea/form">New Idea |</a>
        <a >All Ideas |</a>
        <a href="/Logout">Logout</a>
    </nav>
<div class="background">
@foreach(var i in Model){
    <div class="ideas">
    <h5>@i.IdeaId:  <a href="/ideaprofile/@i.IdeaId">@i.name</a></h5>
    <p>@i.desc</p>
    
    </div>
}
</div>