<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/Idea/Edd.css"/>
</head>
<header> 
        <partial name="HeadingPartial"/>
</header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>edd page</h1>

