
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/Idea/ideaprofile.css"/>
</head>
<header> 
        <partial name="HeadingPartial"/>
</header>
<body>
      <nav>
        <a href="/dashboard">Home |</a>
        <a href="/Edit">Edit User Profile |</a>
        <a href="/idea/form">New Idea |</a>
        <a href="/AllIdeas">Ideas in your que |</a>
        <a href="/Logout">Logout</a>
    </nav>


    <h1>Idea Name Model.Name</h1>
    <h3>CreaterID User.FirstName</h3>
    <br>
    <h4>Description</h4>
    <div class= "DescBox" >
        Model.desc As you can see, once there's enough text in this box, the box will grow
        scroll bars... that's why we call it a scroll box! You could also place 
        an image into the scroll box.fffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        ffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff
        ffffffffffffffffffffffffffffffffffffffffffffff
    </div>

    <div class="IdeaHand">
        <img src="~images/IdeaHand.png">
    </div>
    
    <div class="ApprList">
        <h4>List of approvals</h4>
            <ul>
                <li>Approver0</li>
                <li>Approver1</li>
                <li>Approver2</li>
                <li>Approver3</li>
                <li>Approver4</li>
                <li>Approver5</li>
            </ul>
    </div>
    <h2>Link to EDD </h2>

    <div class="MessageBox">
        this is the message box
    </div>
   
</body>