.img{
    height: 100px;
    width: 100px;
    margin-top:0px;
}
h4{
    margin-bottom:0px;
}
.Hquote{
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    text-align: end;
    background-color: #080762;
    font-size: x-large;
    padding: 7px 20px 0px 0px;
}