nav {
    background-color: #080762;
    padding: 0px 0px 7px 20px;


}
nav a{
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration-color: white;
    text-decoration: none;
}
.ideas{
    display:inline-block;
    width:45%;
    height:100%;
    padding:5px;
    border: 2px solid rgb(9, 14, 96);
    margin-top: 3%;
    margin-left:2%;
}

