.header{
    display: inline;

}

 img{
    height: 200px;
}
.Hquote{
    font-family: sans-serif;
    color: white;
    font-weight: bolder;
    text-align: end;
    background-color: #080762;
    font-size: x-large;
    padding: 7px 20px 0px 0px;
}
nav {
    background-color: #080762;
    padding: 0px 0px 7px 20px;


}
nav a{
    color: white;
    font-weight: bolder;
    font-family: sans-serif;
    text-decoration-color: white;
    text-decoration: none;
}